$width-button:26px;

.wrapper__toggle-button{
  height: 18px;
  width: $width-button;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: calc(100% + 10px);
  cursor: pointer;
  span{
    display: inline-block;
    width: $width-button;
    height: 2px;
    background-color: #000000;
  }
}