.wrapper{
  @include fullSize;
  position: relative;
  overflow: hidden;
}
@import "__left-menu/left-menu";
@import "__toggle-button/toggle-button";

.wrapper__content{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}

.wrapper_show-menu{
  .wrapper__left-menu{
    transform: translateX(0);
  }
  .wrapper__content{
    transform: translateX($width-left-menu);
  }
}