.content__title{
  grid-area: title;
  font-weight: bold;
  font-size: 72px;
  line-height: 95px;
}

@media screen and (max-width:1200px) {
  .content__title{
    font-size: 60px;
    line-height: 82px;
  }
}
//ipad pro portret
@media screen and (orientation:portrait) and (max-width:1200px){
  .content__title{
    font-size: 72px;
    line-height: 95px;
  }
}
//ipad
@media screen and (max-width:1000px){
  .content__title{
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (max-width:767px){
  .content__title{
    font-size: 36px;
    line-height: 48px;
  }
}

@media screen and (min-width:1400px) and (min-height: 850px){
  .content__title{
    font-size: 92px;
    line-height: 115px;
  }
}
@media screen and (min-width:1900px) {
  .content__title{
    font-size: 114px;
    line-height: 137px;
  }
}