.mask__item-one{
  @include fullSize;
  transform: rotateZ(45deg) scale(3);
  display: grid;
  grid-template-columns: 50% 150px 1fr;
  grid-template-rows: 1fr;
  div:nth-child(1){
    background-color: #fff;
  }
  div:nth-child(2){
    background-color: $color-red;
  }
  div:nth-child(3){
    background-color: #fff;
  }
}