.content__list{
  grid-area: list;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
@media screen and (max-width:1200px) {
  .content__list{
    font-size: 22px;
    line-height: 28px;
  }
}
//ipad pro portret
@media screen and (orientation:portrait) and (max-width:1200px){
  .content__list{
    font-size: 24px;
    line-height: 32px;
  }
}
//ipad
@media screen and (max-width:1000px){
  .content__list{
    margin-top: 60px;
  }
}

@media screen and (max-width:767px){
  .content__list{
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width:1400px) and (min-height: 850px){
  .content__list{
    font-size: 36px;
    line-height: 46px;
  }
}
@media screen and (min-width:1900px) {
  .content__list{
    font-size: 48px;
    line-height: 60px;
  }
}