.content__advantages{
  grid-area: advantages;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  padding-right: 20px;
  &:after{
    content: '';
    display: inline-block;
    border: 10px solid transparent;
    border-bottom-color:$color-red;
    border-right-color:$color-red;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width:1400px) and (min-height: 800px){
  .content__advantages{
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width:1900px){
  .content__advantages{
    font-size: 20px;
    line-height: 24px;
    padding-right: 30px;
    &:after{
      border-width: 15px;
    }
  }
}