@import "./vars";
@import "./mixin";
@import "./fonts/stylesheet.css";

html,body{
  @include fullSize;
  min-height: 700px;
  color: $text-color;
  font-family: 'Roboto', serif;
  font-weight: normal;
  font-style: normal;
}

@import "./wrapper/wrapper";
@import "./present/present";
@import "./background/background";
@import "./mask/mask";
@import "./content/content";
@import "./effects/effects";
@media screen and (max-width:767px){
  html,body{
    min-height: inherit;
  }
}