$text-color: rgba(40, 36, 37, 0.9);
$width-left-menu: 300px;

$color-red: rgba(255, 0, 21, 0.6);

//Время анимации вращения маски
$time-work-mask:1.5s;
//Время анимации появления animationShowBlock
$animation-show-block:1.5s;