.background{
  @include fullSize;
}
.background__wrapper{
  height: 100%;
  display: inline-block;
  float: right;
  position: relative;
  transform: scale(1.2);
}
.background__frame{
  @include fullSize;
  position: absolute;
  top: 0;
  left: -1px;
}
.background__image{
  height: 100%;
}