.mask__item-three{
  @include fullSize;
  opacity: 1;
  transition: all $time-work-mask 0s ease-out;
  div:nth-child(1){
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transform: scale(2);
  }
}