.content{
  @include fullSize;
  display: grid;
  grid-template-areas:  "top-margin top-margin top-margin top-margin"
                        "left-margin logo . right-margin"
                        "left-margin title . right-margin"
                        "left-margin list . right-margin"
                        "left-margin bitrix advantages right-margin"
                        "bottom-margin bottom-margin bottom-margin bottom-margin";
  grid-template-columns: 50px 50% 1fr 50px;
  grid-template-rows: 50px 117px auto auto 62px 50px;
}
.content__logo{
  grid-area: logo;
}
.content__title,
.content__list,
.content__bitrix{
  margin-left: 40px;
}
@import "./__title/title";
@import "./__list/list";
@import "./__bitrix/bitrix";
@import "./__advantages/advantages";



@media screen and (max-width:1200px){
  .content{
    grid-template-rows: 50px 117px auto auto 52px 50px;
  }
}
//
@media screen and (orientation:portrait) and (max-width:1200px){
  .content{
    grid-template-columns: 70px 60% 1fr 70px;
    grid-template-rows: 50px 117px 350px auto 52px 50px;
  }
}
//ipad
@media screen and (max-width:1000px){
  .content{
    grid-template-areas:  "top-margin top-margin top-margin top-margin"
                          "left-margin logo . right-margin"
                          "left-margin title title right-margin"
                          "left-margin list . right-margin"
                          "left-margin bitrix . right-margin"
                          "left-margin advantages . right-margin"
                          "bottom-margin bottom-margin bottom-margin bottom-margin";
    grid-template-columns: 50px 40% 1fr 50px;
    grid-template-rows: 50px 117px auto 1fr 52px 52px 50px;
  }
  .content__title,
  .content__list,
  .content__bitrix{
    margin-left: 0;
  }
}
@media screen and (max-width:767px){
  .content {
    grid-template-rows: 50px 70px auto 1fr 52px 52px 50px;
    grid-template-columns: 30px 1fr auto 30px;
  }
}

@media screen and (min-width:1900px){
  .content{
    grid-template-columns: 70px 50% 1fr 70px;
    grid-template-rows: 70px 117px auto auto 82px 70px;
  }
}