$time-for-transition: 1s;

.mask{
  height: 100%;
  width: 100%;
  position: relative;
  transition: all $time-for-transition 0s ease-out;
  transform: rotateZ(90deg);
}
.mask__layer{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
}

.mask_show{
  transform: rotateZ(0deg);
  .mask__item-three{
    opacity: 0;
  }
}
@import "./__item-one/item-one";
@import "./__item-two/item-two";
@import "./__item-three/item-three";
