@keyframes ShowBlock{
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animShowBl{
  animation: $animation-show-block linear 0s 1 forwards ShowBlock;
  //transition: transform $animation-show-block $time-work-mask ease-out;
}
.animShowBl_show{

}